/**
 * Yeoman Angular Defaults
 */

body {
  padding: 0;
  background-color: #eee;
}

/**
 * AngularUI Bootstrap
 * CSS Initialization
 * http://angular-ui.github.io/bootstrap/
 */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Nav Brand */
a.navbar-brand {
  font-weight: bold;
}

/**
 * Boostrap Input: XS size
 * http://stackoverflow.com/questions/22920589/bootstrap-3-input-xs-smaller-than-sm
 */
.input-xs {
  height: 22px;
  padding: 5px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

/**
 * Search input clear
 * http://stackoverflow.com/questions/20062218/how-do-i-clear-a-search-box-with-an-x-in-bootstrap-3
 */
/**#searchinput {
    width: 180px;
}**/
#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

/**
 * UI Grid dimensions
 */
.px-ui-grid {
  width: 100%;
  min-height: 400px;
}

/**
 * Thumbnails
 */
/* http://www.sketchingwithcss.com/samplechapter/cheatsheet.html */
/* On the flex container */
.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
}

.px-thumbnail-icon {
  height: 128px;
  width: 128px;
  padding: 8px 8px 8px 8px;
  margin: 0px 32px 8px 32px;
  cursor: pointer;
}


/**
 * Alerts
 */
.px-alert {
	margin-bottom: 0px;
}

/**
 * LOGIN
 *
 * Based on: http://getbootstrap.com/examples/signin/
 */
.form-login > .logo {
  text-align: center;
}
.form-login {
  max-width: 330px;
  padding: 55px 40px 55px 40px;
  margin: 0 auto;
}
.form-login .form-login-heading,
.form-login .checkbox {
  margin-bottom: 10px;
}
.form-login-heading {
  text-align: center;
}
.form-login .checkbox {
  font-weight: normal;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/**
 * Flexbox
 * Source: http://angular-formly.com/#/example/other/advanced-layout-flex
 */
.display-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

[class*="flex-"] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*="flex-"]:first-child {
  padding-left: 0;
}

[class*="flex-"]:nth-last-child(2) {
  padding-right: 0;
}

/*
  loading animation - loading.html
  http://www.gradient-animator.com/
  https://github.com/cgross/angular-busy
 */
div#px-busyDiv {
  position: fixed;
  bottom: 0;
  height: 1.6%;
  width: 100%;
}

div#px-loadingDiv {
  background: linear-gradient(270deg, #eee, #4675d3);
  background-size: 400% 400%;
  -webkit-animation: Loading 1s ease infinite;
  -moz-animation: Loading 1s ease infinite;
  -o-animation: Loading 1s ease infinite;
  animation: Loading 1s ease infinite;
}
@-webkit-keyframes Loading {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes Loading {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes Loading {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes Loading {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
