<!-- http://stackoverflow.com/questions/19929213/bootstrap-change-div-order-with-pull-right-pull-left-3-columns -->
<div class="row">
  <div class="col-xs-4">
    <div clas="text-left">
      <select
        ng-model="vm.paginationOptions.paginationPageSize"
        ng-options="o as o for o in vm.paginationOptions.paginationPageSizes">
      </select>
      records per page
    </div>
  </div>
  <div class="col-xs-8">
    <div class="row">
      <div class="col-md-4 col-md-push-8">
        <div class="text-right">
          {{((vm.paginationOptions.paginationCurrentPage - 1) * vm.paginationOptions.paginationPageSize) + 1}}
          &ndash;
          {{[vm.paginationOptions.paginationCurrentPage * vm.paginationOptions.paginationPageSize, vm.paginationOptions.totalItems] | min}}
          of {{vm.paginationOptions.totalItems}} records
        </div>
      </div>
      <div class="col-md-8 col-md-pull-4">
        <dir-pagination-controls
          boundary-links="true"
          pagination-id="vm.paginationOptions.paginationId">
        </dir-pagination-controls>
      </div>
    </div>
  </div>
</div>
