<!--
Based on: http://getbootstrap.com/examples/signin/
-->

<div class="container">

<form class="form-login" method="post" ng-submit="vm.login(vm.credentials)">
  <div class="logo">
    <img src="img/apple-touch-icon-144-precomposed.png" />
  </div>
  <h2 class="form-login-heading"><img src="img/panax_roboto_condensed_bold_hz_alpha.png" /></h2>
  <div class="checkbox">
    <label for="inputInstance" class="sr-only">Instance</label>
    <select ng-model="vm.credentials.instance" id="inputInstance" class="form-control" placeholder="Instance" required>
      <option value="{{name}}" ng-repeat="name in vm.panaxInstances">
        {{name}}
      </option>
    </select>
  </div>
  <label for="inputUsername" class="sr-only">Username</label>
  <input ng-model="vm.credentials.username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input ng-model="vm.credentials.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <!-- <div class="checkbox">
    <label><input type="checkbox" value="remember-me">Remember me</label>
  </div> -->
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>

</div>
