<div class="well well-lg">
  <div class="text-center">
    <div class="page-header">
      <h1>{{currentNavBranch.label}}</h1>
    </div>
  </div>
</div>

<div class="row clearfix flexcontainer">
  <div class="px-thumbnail-icon thumbnail text-center" ng-repeat="branch in currentNavBranch.children">
    <a ng-click="navMenuControl.select_branch(branch)">
      <img ng-src="images/thumbnails/{{branch.data.controlType || 'category'}}.png" alt="{{branch.label}}" class="px-thumbnail-icon">
    </a>
      <a href ng-click="navMenuControl.select_branch(branch)">
        {{ branch.label }}
      </a>
  </div>
</div>
