<div class="well well-lg">
  <div class="text-center">
    <div class="page-header">
      <h1>{{currentNavBranch.label}}</h1>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-md-3 col-sm-6" ng-repeat="branch in currentNavBranch.children">
    <div class="thumbnail">
      <a ng-click="navMenuControl.select_branch(branch)">
        <img ng-src="images/thumbnails/{{branch.data.controlType || 'category'}}.png" alt="{{branch.label}}" class="px-thumbnail-icon">
      </a>
      <div class="caption text-center">
        <a href ng-click="navMenuControl.select_branch(branch)">
          {{ branch.label }}
        </a>
      </div>
    </div>
  </div>
</div>