<div class="panel panel-info">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Debug info
	</div>
	<div class="panel-body">

		<accordion>
			<accordion-group ng-show="debugInfo.env">

        <accordion-heading>
        		<em class="glyphicon glyphicon-tree-deciduous"></em>
            Environment
        </accordion-heading>

        <pre><code data-language="javascript">{{debugInfo.env | json}}</code></pre>
			</accordion-group>
			<accordion-group ng-show="debugInfo.currentUser">

        <accordion-heading>
        		<em class="glyphicon glyphicon-user"></em>
            Session
        </accordion-heading>

        <table class="table table-bordered table-condensed">
        	<tr>
        		<th colspan="2">
        			<strong>PanaxUI</strong>
        		</th>
        	</tr>
				  <tr>
				    <td>Host</td>
				    <td>
				    	<code>127.0.0.1:3000</code>
				    </td> 
				  </tr>
				  <tr>
				    <td>API</td>
				    <td>
				    	<code>panaxui-nodejs-{{debugInfo.currentUser.api_version}}</code>
				    </td> 
				  </tr>
				  <tr>
				    <td>GUI</td>
				    <td>
				    	<code>panaxui-angularjs-0.0.1</code>
				    </td> 
				  </tr>
				  <tr>
				    <td>User</td>
				    <td>
				    	<code>{{debugInfo.currentUser.username}}</code>
				    </td> 
				  </tr>
        	<tr>
        		<th colspan="2">
        			<strong>PanaxDB</strong>
        		</th>
        	</tr>
				  <tr>
				    <td>Server</td>
				    <td>
				    	<code>{{debugInfo.currentUser.db.server}}</code>
				    </td> 
				  </tr>
				  <tr>
				    <td>Vendor</td>
				    <td>
				    	<code>{{debugInfo.currentUser.db.vendor}}</code>
				    </td> 
				  </tr>
				  <tr>
				    <td>Version</td>
				    <td>
				    	<code>{{debugInfo.currentUser.db.version}}</code>
				    </td> 
				  </tr>
				  <tr>
				    <td>Database</td>
				    <td>
				    	<code>{{debugInfo.currentUser.db.database}}</code>
				    </td> 
				  </tr>
				  <tr>
				    <td>User</td>
				    <td>
				    	<code>{{debugInfo.currentUser.db.user}}</code>
				    </td> 
				  </tr>
				</table>
			</accordion-group>
			<accordion-group ng-show="debugInfo.stateParams">

        <accordion-heading>
        		<em class="glyphicon glyphicon-leaf"></em>
            State
        </accordion-heading>

        <pre><code data-language="javascript">{{debugInfo.stateParams | json}}</code></pre>
			</accordion-group>
			<accordion-group ng-show="debugInfo.catalog">

        <accordion-heading>
        		<em class="glyphicon glyphicon-book"></em>
            Catalog
        </accordion-heading>

        <pre><code data-language="javascript">{{debugInfo.catalog | json}}</code></pre>
			</accordion-group>
			<accordion-group ng-show="debugInfo.fields">

        <accordion-heading>
        		<em class="glyphicon glyphicon-tasks"></em>
            Fields
        </accordion-heading>

        <pre><code data-language="javascript">{{debugInfo.fields | json}}</code></pre>
			</accordion-group>
			<accordion-group ng-show="debugInfo.grid">

        <accordion-heading>
        		<em class="glyphicon glyphicon-th-large"></em>
            Grid
        </accordion-heading>

        <pre><code data-language="javascript">{{debugInfo.grid | json}}</code></pre>
			</accordion-group>
			<accordion-group ng-show="debugInfo.model">

        <accordion-heading>
        		<em class="glyphicon glyphicon-download-alt"></em>
            Model
        </accordion-heading>

        <pre><code data-language="javascript">{{debugInfo.model | json}}</code></pre>
			</accordion-group>
		</accordion>

	</div>
	<div class="panel-footer clearfix">
		<div class="pull-right">
			<button class="btn btn-primary" ng-click="okClick()">OK</button>
		</div>
	</div>
</div>