<div class="panel panel-info">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Debug info
	</div>
	<div class="panel-body">

		<accordion>
			<accordion-group ng-show="currentUser">

        <accordion-heading>
        		<em class="glyphicon glyphicon-user"></em>
            Session Info
        </accordion-heading>

        <table class="table table-bordered table-condensed">
        	<tr>
        		<th colspan="2">
        			<strong>PanaxUI</strong>
        		</th>
        	</tr>
				  <tr>
				    <td>Host</td>
				    <td>
				    	<code>127.0.0.1:3000</code>
				    </td> 
				  </tr>
				  <tr>
				    <td>API</td>
				    <td>
				    	<code>panaxui-nodejs-{{currentUser.api_version}}</code>
				    </td> 
				  </tr>
				  <tr>
				    <td>GUI</td>
				    <td>
				    	<code>panaxui-angularjs-0.0.1</code>
				    </td> 
				  </tr>
				  <tr>
				    <td>User</td>
				    <td>
				    	<code>{{currentUser.username}}</code>
				    </td> 
				  </tr>
        	<tr>
        		<th colspan="2">
        			<strong>PanaxDB</strong>
        		</th>
        	</tr>
				  <tr>
				    <td>Server</td>
				    <td>
				    	<code>{{currentUser.db.server}}</code>
				    </td> 
				  </tr>
				  <tr>
				    <td>Vendor</td>
				    <td>
				    	<code>{{currentUser.db.vendor}}</code>
				    </td> 
				  </tr>
				  <tr>
				    <td>Version</td>
				    <td>
				    	<code>{{currentUser.db.version}}</code>
				    </td> 
				  </tr>
				  <tr>
				    <td>Database</td>
				    <td>
				    	<code>{{currentUser.db.database}}</code>
				    </td> 
				  </tr>
				  <tr>
				    <td>User</td>
				    <td>
				    	<code>{{currentUser.db.user}}</code>
				    </td> 
				  </tr>
				</table>
			</accordion-group>
			<accordion-group ng-show="currentNavBranch">

        <accordion-heading>
        		<em class="glyphicon glyphicon-leaf"></em>
            currentNavBranch.data
        </accordion-heading>

        <pre><code data-language="javascript">{{currentNavBranch.data | json}}</code></pre>
			</accordion-group>
			<accordion-group ng-show="catalog">

        <accordion-heading>
        		<em class="glyphicon glyphicon-book"></em>
            catalog
        </accordion-heading>

        <pre><code data-language="javascript">{{catalog | json}}</code></pre>
			</accordion-group>
			<accordion-group ng-show="schema">

        <accordion-heading>
        		<em class="glyphicon glyphicon-info-sign"></em>
            schema
        </accordion-heading>

        <pre><code data-language="javascript">{{schema | json}}</code></pre>
			</accordion-group>
			<accordion-group ng-show="form">

        <accordion-heading>
        		<em class="glyphicon glyphicon-tasks"></em>
            form
        </accordion-heading>

        <pre><code data-language="javascript">{{form | json}}</code></pre>
			</accordion-group>
			<accordion-group ng-show="model">

        <accordion-heading>
        		<em class="glyphicon glyphicon-download-alt"></em>
            model
        </accordion-heading>

        <pre><code data-language="javascript">{{model | json}}</code></pre>
			</accordion-group>
		</accordion>

	</div>
	<div class="panel-footer clearfix">
		<div class="pull-right">
			<button class="btn btn-primary" ng-click="okClick()">OK</button>
		</div>
	</div>
</div>