<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="main.home">
			<img alt="PanaxUI-NG" src="images/logo_fff_small.png" height="20">
			</a>
			<a class="navbar-brand" ui-sref="main.home">
			PANAX
			</a>
		</div>

		<div class="navbar-collapse collapse" id="navbar">

			<ul class="nav navbar-nav navbar-right">

				<!-- <li>
			     <a href="#">Other</a>
				</li> -->

			    <li dropdown is-open="status.isopen">

			      <a href="#" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
			        {{currentUser.username}} <span class="caret"></span>
			      </a>
			      <ul class="dropdown-menu" role="menu">
						<li>
							<a href="#">Settings</a>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="dropdown-header"><span class="label label-info">Dev Tools</span></li>
						<li>
							<a ng-click="cliClick()">&nbsp;PanaxCLI</a>
						</li>
						<li>
							<a ng-click="debugClick()">&nbsp;Debug Info</a>
						</li>
						<li class="divider"></li>
						<li>
							<a ng-click="logout()">Logout</a>
						</li>
			      </ul>
			    </li>

			</ul>
		</div>
	</div>
	
</nav>