<div class="well well-lg">

	<div class="page-header text-center">
		<h1>Welcome to <strong>Panax</strong>!</h1>
	</div>
	<pre>
		<strong>System information</strong>
		<br/>
		<strong><u>PanaxUI</u></strong>
		<strong>Host</strong>: 127.0.0.1:3000
		<strong>API</strong>: panaxui-nodejs-{{currentUser.api_version}}
		<strong>GUI</strong>: panaxui-angularjs-0.0.1
		<strong>User</strong>: {{currentUser.username}}
		<br/>
		<strong><u>PanaxDB</u></strong>
		<strong>Server</strong>: {{currentUser.db.server}}
		<strong>Vendor</strong>: {{currentUser.db.vendor}}
		<strong>Version</strong>: {{currentUser.db.version}}
		<strong>Database</strong>: {{currentUser.db.database}}
		<strong>User</strong>: {{currentUser.db.user}}
	</pre>

</div>

<ng-include src="'views/shell/category.html'"></ng-include>