<div class="well well-lg">

	<div class="page-header text-center">
		<h1>Welcome to <strong>Panax</strong>!</h1>
	</div>
	<pre>
		<strong>System information</strong>
		<br/>
		<strong><u>PanaxDB</u></strong>
		<strong>Vendor</strong>: SQL Server 2012 11.0.5058
		<strong>Host</strong>: BENOROR-PC:1433
		<strong>Version</strong>: Beta_12
		<strong>Database</strong>: Demo12_6_feb2015
		<strong>User</strong>: sa
		<br/>
		<strong><u>PanaxUI</u></strong>
		<strong>Host</strong>: 127.0.0.1:3000 {{currentUser.host}}
		<strong>API</strong>: panaxui-nodejs-0.0.1 {{currentUser.api}}
		<strong>GUI</strong>: panaxui-angularjs-0.0.1 {{currentUser.gui}}
		<strong>User</strong>: {{currentUser.username}}
	</pre>

</div>

<ng-include src="'views/shell/category.html'"></ng-include>