<div class="well well-lg">

	<div class="page-header text-center">
		<h1>Welcome to <strong>PanaxUI</strong>!</h1>
		<h2> <strong>AngularJS</strong> flavor</h2>
	</div>
	<pre>
		<strong>System information</strong>
		<br/>
		<strong><u>PanaxDB</u></strong>
		<strong>Vendor</strong>: SQL Server 2012 11.0.5058
		<strong>Host</strong>: BENOROR-PC:1433
		<strong>Version</strong>: Beta_12
		<strong>Database</strong>: Demo12_6_feb2015
		<strong>User</strong>: sa
		<br/>
		<strong><u>PanaxUI</u></strong>
		<strong>Host</strong>: 127.0.0.1:3000
		<strong>API Version</strong>: panaxui-nodejs-0.0.1
		<strong>GUI Version</strong>: panaxui-angularjs-0.0.1
		<strong>User</strong>: webmaster
	</pre>

</div>

<ng-include src="'views/shell/category.html'"></ng-include>