<div class="panel panel-primary">

	<div class="panel-heading clearfix">
		<h1 class="panel-title pull-left">{{ currentBranch.label }}</h1>

		<div class="btn-group btn-group-xs pull-right">
			<button class="btn btn-primary" type="button"> <em class="glyphicon glyphicon-star-empty"></em>
			</button>
			<button class="btn btn-primary" type="button"> <em class="glyphicon glyphicon-print"></em>
			</button>
			<button class="btn btn-primary" type="button">
				<em class="glyphicon glyphicon-question-sign"></em>
			</button>
			<button class="btn btn-primary" type="button">
				<em class="glyphicon glyphicon-refresh"></em>
			</button>
		</div>
	</div>

	<div class="panel-body">
		
	    <!-- ui.router view -->
	    <div ui-view>
	    </div>

	</div>
	<div class="panel-footer clearfix">
		<p class="pull-left">
			<span class="label label-default">Default</span>
			<span class="label label-primary">Primary</span>
			<span class="label label-success">Success</span>
			<span class="label label-info">Info</span>
			<span class="label label-warning">Warning</span>
			<span class="label label-danger">Danger</span>
		</p>

		<div class="pull-right">
			<div class="btn-group btn-group-md">
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-ban-circle"></em>
					Cancel
				</button>
				<button class="btn btn-primary" type="button">
					<em class="glyphicon glyphicon-ok-sign"></em>
					Save
				</button>
			</div>
		</div>
	</div>
</div>

<alert type="danger">
	Warning! Better check yourself, you're not looking too good.
</alert>