<div class="panel-footer clearfix" ng-if="vm.options.opts.showAddRemoveRow">
  <div class="btn-toolbar">
    <div class="pull-left">
      <div class="btn-group btn-group-md">
        <button class="btn btn-primary" type="submit"
          ng-click="vm.newHandler({catalogName: vm.options.metadata.catalogName})">
          <em class="glyphicon glyphicon-plus"></em>
          Add
        </button>
      </div>
    </div>

<!-- ToDo:
    <div class="pull-right">
      <div class="btn-group btn-group-md">
        <button class="btn btn-danger" type="submit"
          ng-click="vm.deleteHandler({selected: vm.gridApi.selection.getSelectedRows()})"
          ng-disabled="!vm.gridApi.grid.selection.selectedCount">
          <em class="glyphicon glyphicon-minus"></em>
          Remove
        </button>
      </div>
    </div> -->
  </div>
</div>

<div class="panel-footer clearfix" ng-if="vm.options.opts.showFilterRow">
  <!-- <label for="search">Search:</label> -->
  <input ng-model="query" id="search" class="form-control" placeholder="Filter text">
</div>

<div class="panel-body">

  <div class="row clearfix">

    <!-- hack fix: https://github.com/michaelbromley/angularUtils/issues/157 -->
    <div ng-switch on="vm.options.opts.asyncPagination">
      <!-- Server side pagination -->
      <div ng-switch-when="true" class="flexcontainer">

        <div class="px-card"
             dir-paginate="record in vm.options.data | filter:query | itemsPerPage: vm.pagination_options.paginationPageSize"
             total-items="vm.pagination_options.totalItems"
             current-page="vm.pagination_options.paginationCurrentPage"
             pagination-id="vm.pagination_options.paginationId">

          <ng-include src="'pxcards-layout'"></ng-include>

        </div>

      </div>
      <!-- Client side pagination -->
      <div ng-switch-default class="flexcontainer">

        <div class="px-card"
             dir-paginate="record in vm.options.data | filter:query | itemsPerPage: vm.pagination_options.paginationPageSize"
             current-page="vm.pagination_options.paginationCurrentPage"
             pagination-id="vm.pagination_options.paginationId">

          <ng-include src="'pxcards-layout'"></ng-include>

        </div>

      </div>
    </div>

  </div>

</div>

<div class="panel-footer" ng-if="vm.options.opts.showPaginationRow">

  <px-pagination
    options="vm.pagination_options"
    ng-attr-on-pagination-change="vm.paginationChangeHandler({newPage: newPage, newPageSize: newPageSize})">
  </px-pagination>

</div>

<div class="panel-footer" ng-if="vm.options.opts.showBrowseRow">
  <div class="pull-left">
    {{vm.selectedRecords.length}} record(s) selected
  </div>
  <div class="btn-toolbar">
    <div class="pull-right">
      <div class="btn-group btn-group-md">
        <button class="btn btn-primary" type="submit"
          ng-click="vm.nextHandler({selected: vm.selectedRecords})"
          ng-disabled="!vm.selectedRecords.length">
          <em class="glyphicon glyphicon-arrow-right"></em>
          Edit <!-- ToDo: PanaxDB Routes -->
        </button>
      </div>
    </div>
  </div>
</div>


<script type="text/ng-template" id="pxcards-layout">
<div class="panel" ng-class="(vm.selectedRecords.indexOf(record)>=0) ? 'panel-primary' : 'panel-default'">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">
    {{ record[vm.options.metadata.customAttrs.titleField] || '&nbsp;'}}
    </h3>
    <div class="btn-group btn-group-xs pull-right">
      <button class="btn" type="submit"
              ng-class="{
                'btn-primary':(vm.options.metadata.mode === 'edit'),
                'btn-default':(vm.options.metadata.mode !== 'edit')
              }"
              ng-click="vm.onClick(record)">
        {{vm.options.metadata.mode === 'edit' ? 'Edit' : ''}}
        {{vm.options.metadata.mode === 'readonly' ? 'View' : ''}}
        {{vm.options.metadata.mode === 'browse' ? '' : ''}}
        <em ng-if="vm.options.metadata.mode === 'browse' && vm.selectedRecords.indexOf(record)==-1" class="glyphicon glyphicon-ok"></em>
        <em ng-if="vm.options.metadata.mode === 'browse' && vm.selectedRecords.indexOf(record)>=0" class="glyphicon glyphicon-remove"></em>
      </button>
    </div>
  </div>
  <div class="list-group">
    <div class="list-group-item">
      <img ng-src="{{ record[vm.options.metadata.customAttrs.iconField] ? '/uploads/' + vm.uploadPath + record[vm.options.metadata.customAttrs.iconField] : '/images/noimg.png' }}"
           class="px-card-img img-rounded pull-left">
      <label>
      {{ vm.options.metadata.customAttrs.descField1 || '&nbsp;' }}
      </label>
      <h5 class="list-group-item-heading">
      {{ record[vm.options.metadata.customAttrs.descField1] || '&nbsp;' }}
      </h5>
      <label>
      {{ vm.options.metadata.customAttrs.descField2 || '&nbsp;' }}
      </label>
      <h5 class="list-group-item-heading">
      {{ record[vm.options.metadata.customAttrs.descField2]  || '&nbsp;' }}
      </h5>
    </div>
  </div>
  <!-- <div class="panel-footer clearfix">
  </div> -->
</div>
</script>
