<div class="well well-lg">
  <div class="text-center">
    <div class="page-header">
      <h1>{{vm.categoryTitle}}</h1>
    </div>
  </div>
</div>

<div ng-repeat="row in vm.categoryChildren">
  <div class="row clearfix flexcontainer px-thumbnail-container">
    <div class="px-thumbnail-icon thumbnail text-center" ng-repeat="branch in row">
      <a ng-click="vm.onClick(branch)">
        <img ng-src="{{branch.image}}" alt="{{branch.label}}" class="px-thumbnail-icon">
      </a>
        <a href ng-click="vm.onClick(branch)">
          {{ branch.label }}
        </a>
    </div>
  </div>
</div>
