<div class="panel-footer clearfix" ng-if="vm.options.opts.showPrintRow">
  <div class="btn-toolbar">
    <div class="pull-right">
      <div class="btn-group btn-group-md">
        <button class="btn btn-primary" type="submit"
          ng-click="vm.printHandler()">
          <em class="glyphicon glyphicon-print"></em>
          Print Template
        </button>
      </div>
    </div>
  </div>
</div>

<div class="panel-body px-template">

  <div class="row clearfix">

    <div ng-bind-html="vm.content" class="px-template-content"></div>

  </div>

</div>

<div class="panel-footer clearfix">
  <div class="pull-right">
    <p>Content-Type: {{vm.contentType || json}}</p>
  </div>
</div>
