<div class="panel-footer clearfix" ng-if="vm.options.opts.showAddRemoveRow">
  <div class="btn-toolbar">
    <div class="pull-left">
      <div class="btn-group btn-group-md">
        <button class="btn btn-primary" type="button"
          ng-click="$event.preventDefault(); vm.newHandler({catalogName: vm.options.metadata.catalogName});">
          <em class="glyphicon glyphicon-plus"></em>
          Add
        </button>
      </div>
    </div>

    <div class="pull-right">
      <div class="btn-group btn-group-md">
        <button class="btn btn-danger" type="button"
          ng-click="$event.preventDefault(); vm.deleteHandler({selected: vm.gridApi.selection.getSelectedRows()});"
          ng-disabled="!vm.gridApi.grid.selection.selectedCount">
          <em class="glyphicon glyphicon-minus"></em>
          Remove
        </button>
      </div>
    </div>
  </div>
</div>

<div class="panel-body">

  <!-- ToDo:
        ui-grid-auto-resize
      affects performance?
        http://ui-grid.info/docs/#/tutorial/213_auto_resizing
        -->
  <div ui-grid="vm.uiGrid"
      ui-grid-pagination
      ui-grid-selection
      ui-grid-edit ui-grid-row-edit
    class="px-ui-grid"
    id="px-ui-grid">
  </div>

</div>

<div class="panel-footer" ng-if="vm.options.opts.showPaginationRow">

  <!-- http://stackoverflow.com/questions/19929213/bootstrap-change-div-order-with-pull-right-pull-left-3-columns -->
  <div class="row">
    <div class="col-xs-4">
      <div clas="text-left">
        <select
          ng-model="vm.uiGrid.paginationPageSize"
          ng-options="o as o for o in vm.uiGrid.paginationPageSizes">
        </select>
        records per page
      </div>
    </div>
    <div class="col-xs-8">
      <div class="row">
        <div class="col-md-4 col-md-push-8">
          <div class="text-right">
            {{((vm.uiGrid.paginationCurrentPage - 1) * vm.uiGrid.paginationPageSize) + 1}}
            &ndash;
            {{[vm.uiGrid.paginationCurrentPage * vm.uiGrid.paginationPageSize, vm.uiGrid.totalItems] | min}}
            of {{vm.uiGrid.totalItems}} records
          </div>
        </div>
        <div class="col-md-8 col-md-pull-4">

          <!-- <div class="btn-group btn-group-md pagination"> -->
          <div class="btn-group btn-group-md">
            <button class="btn btn-default" type="button"
              ng-class="{ disabled : vm.uiGrid.paginationCurrentPage == 1 }"
              ng-click="vm.gridApi.pagination.seek(1)">
              <em class="glyphicon glyphicon-step-backward"></em>
              First
            </button>
            <button class="btn btn-default" type="button"
              ng-class="{ disabled : vm.uiGrid.paginationCurrentPage == 1 }"
              ng-click="vm.gridApi.pagination.previousPage()">
              <em class="glyphicon glyphicon-triangle-left"></em>
              Prev
            </button>
            <button class="btn btn-default" type="button"
              ng-repeat="p in vm.getArray(vm.gridApi.pagination.getTotalPages()) track by $index"
              ng-click="vm.gridApi.pagination.seek($index+1)"
              ng-class="{ active : vm.gridApi.pagination.getPage() == $index+1 }">
              {{$index+1}}
            </button>
            <button class="btn btn-default" type="button"
              ng-class="{ disabled : vm.uiGrid.paginationCurrentPage == vm.gridApi.pagination.getTotalPages() }"
              ng-click="vm.gridApi.pagination.nextPage()">
              Next
              <em class="glyphicon glyphicon-triangle-right"></em>
            </button>
            <button class="btn btn-default" type="button"
              ng-class="{ disabled : vm.uiGrid.paginationCurrentPage == vm.gridApi.pagination.getTotalPages() }"
              ng-click="vm.gridApi.pagination.seek(vm.gridApi.pagination.getTotalPages())">
              <em class="glyphicon glyphicon-step-forward"></em>
              Last
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>


<div class="panel-footer" ng-if="vm.options.opts.showNextRow">
  <div class="pull-left">
    {{vm.gridApi.selection.getSelectedRows().length}} record(s) selected
  </div>
  <div class="btn-toolbar">
    <div class="pull-right">
      <div class="btn-group btn-group-md">
        <button class="btn btn-primary" type="submit"
          ng-click="vm.nextHandler({selected: vm.gridApi.selection.getSelectedRows()})"
          ng-disabled="!vm.gridApi.grid.selection.selectedCount">
          <em class="glyphicon glyphicon-arrow-right"></em>
          Edit <!-- ToDo: PanaxDB Routes -->
        </button>
      </div>
    </div>
  </div>
</div>
