<div class="btn-group btn-group-sm" uib-dropdown dropdown-append-to-body>
  <button class="btn btn-default" type="button" uib-dropdown-toggle>
    <em class="glyphicon glyphicon-menu-hamburger"></em>
    <span class="caret"></span>
  </button>
  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
    <li class="dropdown-header">View Options</li>
    <li role="menuitem">
      <a href="#" ng-click="grid.appScope.vm.toggleFiltering()">
      <em class="glyphicon glyphicon-filter"></em>
      Toggle Filters
      </a>
    </li>
  </ul>
</div>
