<div class="btn-group btn-group-sm">
	<button class="btn" type="button"
    ng-class="{'btn-default':(grid.appScope.vm.options.metadata.mode !== 'edit'), 'btn-primary':(grid.appScope.vm.options.metadata.mode === 'edit')}"
		ng-click="$event.preventDefault(); grid.appScope.vm.openHandler({selected: row.entity});">
		<em class="glyphicon"
      ng-class="{
        'glyphicon-folder-open':(grid.appScope.vm.options.metadata.mode !== 'edit'),
        'glyphicon-pencil':(grid.appScope.vm.options.metadata.mode === 'edit')
        }"></em>
	</button>
</div>
