<div class="panel-body">
  <!-- hack fix: https://github.com/michaelbromley/angularUtils/issues/157 -->
  <div ng-switch on="vm.options.opts.asyncPagination">
    <!-- Server side pagination (with total-items)-->
    <div ng-switch-when="true">

      <div dir-paginate="record in vm.options.data | itemsPerPage: vm.pagination_options.paginationPageSize"
           total-items="vm.pagination_options.totalItems"
           current-page="vm.pagination_options.paginationCurrentPage"
           pagination-id="vm.pagination_options.paginationId">

        <ng-include src="'pxform-layout'" class="pxrecord"></ng-include>

      </div>

    </div>
    <!-- Client side pagination (without total-items)-->
    <div ng-switch-default>

      <div dir-paginate="record in vm.options.data | itemsPerPage: vm.pagination_options.paginationPageSize"
           current-page="vm.pagination_options.paginationCurrentPage"
           pagination-id="vm.pagination_options.paginationId">

        <ng-include src="'pxform-layout'"></ng-include>

      </div>

    </div>
  </div>
</div>

<div class="panel-footer" ng-if="vm.options.opts.showPaginationRow">

  <px-pagination
    options="vm.pagination_options"
    ng-attr-on-pagination-change="vm.paginationChangeHandler({newPage: newPage, newPageSize: newPageSize})">
  </px-pagination>

</div>

<div class="panel-footer clearfix" ng-if="vm.options.opts.showSaveRow || vm.options.opts.showFilterRow">

  <div class="btn-toolbar">
    <div class="pull-left" ng-if="vm.options.opts.showSaveRow">
      <div class="btn-group btn-group-md">
        <!-- <button class="btn btn-default" type="button" ng-click="$event.preventDefault(); vm.onCancel();">
          <em class="glyphicon glyphicon-ban-circle"></em>
          Cancel
        </button> -->
        <button class="btn btn-primary submit-button" type="submit"
            ng-disabled="vm.isSubmitDisabled()">
          <em class="glyphicon glyphicon-ok-sign"></em>
          Save
        </button>
      </div>
    </div>

    <div class="pull-right" ng-if="vm.options.opts.showFilterRow">
      <div class="btn-group btn-group-md">
        <button class="btn btn-primary submit-button" type="submit">
          <em class="glyphicon glyphicon-arrow-right"></em>
          Filter
        </button>
        <!-- <button class="btn btn-info" type="button" ng-click="$event.preventDefault(); vm.onReset({form: form});">
          <em class="glyphicon glyphicon-retweet"></em>
          Reset
        </button> -->
      </div>
    </div>
  </div>

</div>

<script type="text/ng-template" id="pxform-layout">

    <formly-form model="record"
                 fields="vm.options.fields[$index]"
                 ng-attr-form="vm.form">
    </formly-form>

</script>
