<form ng-submit="vm.submitHandler()" name="vm.form" novalidate>

	<div class="panel-body">

    <fieldset ng-repeat="fieldset in vm.fields | filter:{type:'fieldset'}">
      <formly-form model="vm.data"
                   fields="fieldset.fields"
                   form="vm.form"
                   heading="{{fieldset.title}}"
                   active="fieldset.active"
                   disable="fieldset.disabled">
      </formly-form>
    </fieldset>

    <tabset ng-repeat="tabpanel in vm.fields | filter:{type:'tabpanel'}">
      <tab ng-repeat="tab in tabpanel.tabs | filter:{type:'tab'}"
           heading="{{tab.title}}"
           active="tab.active"
           disable="tab.disabled">

          <formly-form
                    model="vm.data"
                    fields="tab.fields"
                    form="vm.form">
          </formly-form>

      </tab>
    </tabset>

	</div>

	<div class="panel-footer clearfix">

    <div class="btn-toolbar">
      <div class="pull-left">
        <div class="btn-group btn-group-md">
          <!-- <button class="btn btn-default" type="button" ng-click="vm.cancelHandler()">
            <em class="glyphicon glyphicon-ban-circle"></em>
            Cancel
          </button> -->
          <button class="btn btn-primary submit-button" type="submit"
              ng-disabled="vm.submitDisabled()">
            <em class="glyphicon glyphicon-ok-sign"></em>
            Save
          </button>
        </div>
      </div>

      <div class="pull-right">
        <div class="btn-group btn-group-md">
          <!-- <button class="btn btn-info" type="button" ng-click="vm.resetHandler({form: form})">
            <em class="glyphicon glyphicon-retweet"></em>
            Reset
          </button> -->
        </div>
      </div>
    </div>

	</div>

</form>
