/**
 * Formly defaults
 */
.formly-field {
  margin-bottom: 8px;
}

.formly.row, .formly.row .formly-field {
  margin-bottom: 0;
}

.formly.row .formly-field:first-child {
  padding-left: 0;
}

.formly.row .formly-field:nth-last-child(2) {
  padding-right: 0;
}

.formly-field-group ng-form {
  margin: 0;
}
