<div class="panel panel-default">

	<div class="panel-heading clearfix">

        <div class="input-group">

        	<div ncy-breadcrumb class="px-breadcrumb"></div>

			<!-- <ul class="breadcrumb px-breadcrumb">
				<li>
					<a href="#">Bread</a>
					<span class="divider"></span>
				</li>
				<li>
					<a href="#">crumb</a>
					<span class="divider"></span>
				</li>
				<li class="active">placeholder</li>
			</ul> -->

            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="showMenu=true">
                    <em class="glyphicon glyphicon-chevron-right"></em>
                </button>
            </span>
        </div>
	
	</div>
	
</div>