<div class="row clearfix flexcontainer">

  <div class="px-card" ng-repeat="record in data">

    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Acey, Sofia</h3>
      </div>
      <div class="list-group">
        <div class="list-group-item">
          <img src="/upload/adela.jpg" class="px-card-img img-rounded pull-left">
          <label>Company</label>
          <h5 class="list-group-item-heading">Masung Corp.</h5>
          <label>Email</label>
          <h5 class="list-group-item-heading">Sofia.Acey@masung.com</h5>
        </div>
      </div>
      <div class="panel-footer clearfix">
        <div class="btn-group btn-group-xs pull-right">
          <a class="btn btn-primary" href="/contacts/VBMJHwcLX3Vx/edit" data-toggle="modal" data-target="#editModal"> <i class="fa fa-pencil"></i>
            <span>Edit</span>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
