<div class="row clearfix flexcontainer">

  <div class="px-card" ng-repeat="record in model">

    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">
        {{ record[catalog.customAttrs.titleField] || '[No titleField Found]'}}
        </h3>
        <div class="btn-group btn-group-xs pull-right">
          <button class="btn" type="submit"
                  ng-class="{'btn-default':(mode !== 'edit'), 'btn-primary':(mode === 'edit')}"
                  ng-click="onOpen(record)">
            <!-- <em class="glyphicon glyphicon-folder-open"></em> -->
            {{mode === 'edit' ? 'Edit' : 'View'}}
          </button>
        </div>
      </div>
      <div class="list-group">
        <div class="list-group-item">
          <img ng-src="{{ record[catalog.customAttrs.iconField] ? '/upload/' + record[catalog.customAttrs.iconField] : '/images/noimg.png' }}"
               class="px-card-img img-rounded pull-left">
          <label>
          {{ catalog.customAttrs.descField1 || '[No descField1 Found]' }}
          </label>
          <h5 class="list-group-item-heading">
          {{ record[catalog.customAttrs.descField1] || '[No descField1 Found]' }}
          </h5>
          <label>
          {{ catalog.customAttrs.descField2 || '[No descField2 Found]' }}
          </label>
          <h5 class="list-group-item-heading">
          {{ record[catalog.customAttrs.descField2]  || '[No descField2 Found]'}}
          </h5>
        </div>
      </div>
      <!-- <div class="panel-footer clearfix">
      </div> -->
    </div>

  </div>

</div>

<div ng-if="!model || model.length === 0">
<h1 class="text-center">No data found!</h1>
</div>
