<div class="panel panel-primary">

	<div class="panel-heading clearfix">
		<h3 class="panel-title pull-left">Simple Grid</h3>

		<div class="btn-group btn-group-xs pull-right">
			<button class="btn btn-primary" type="button"> <em class="glyphicon glyphicon-star-empty"></em>
			</button>
			<button class="btn btn-primary" type="button"> <em class="glyphicon glyphicon-print"></em>
			</button>
			<button class="btn btn-primary" type="button">
				<em class="glyphicon glyphicon-question-sign"></em>
			</button>
			<button class="btn btn-primary" type="button">
				<em class="glyphicon glyphicon-refresh"></em>
			</button>
		</div>
	</div>

	<div class="panel-body">
		
		<tabset>

			<tab heading="Tab 1">

				<div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-pagination class="px-ui-grid"></div>

				<div class="text-center">

					<div class="btn-group btn-group-md pagination">
						<button class="btn btn-default" type="button"
							ng-click="gridApi.pagination.seek(1)">
							<em class="glyphicon glyphicon-step-backward"></em>
							First
						</button>
						<button class="btn btn-default" type="button"
							ng-click="gridApi.pagination.previousPage()">
							<em class="glyphicon glyphicon-triangle-left"></em>
							Prev
						</button>
						<button class="btn btn-default" type="button"
							ng-repeat="p in getPage(gridApi.pagination.getTotalPages()) track by $index"
							ng-click="gridApi.pagination.seek($index+1)"
							ng-class="{ active : gridApi.pagination.getPage() == $index+1 }">
							{{$index+1}}
						</button>
						<button class="btn btn-default" type="button"
							ng-click="gridApi.pagination.nextPage()">
							Next
							<em class="glyphicon glyphicon-triangle-right"></em>
						</button>
						<button class="btn btn-default" type="button"
							ng-click="gridApi.pagination.seek(gridApi.pagination.getTotalPages())">
							<em class="glyphicon glyphicon-step-forward"></em>
							Last
						</button>
					</div>
					
				</div>

			</tab>

			<tab heading="Tab 2">
				<p>Howdy, I'm in Section 2.</p>
			</tab>

		</tabset>

		<alert type="danger">
			Warning! Better check yourself, you're not looking too good.
		</alert>

	</div>
	<div class="panel-footer clearfix">
		<p class="pull-left">
			<span class="label label-default">Default</span>
			<span class="label label-primary">Primary</span>
			<span class="label label-success">Success</span>
			<span class="label label-info">Info</span>
			<span class="label label-warning">Warning</span>
			<span class="label label-danger">Danger</span>
		</p>

		<div class="pull-right">
			<div class="btn-group btn-group-md">
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-info-sign"></em>
					Debug
				</button>
			</div>
			<div class="btn-group btn-group-md">
				<button class="btn btn-danger" type="button">
					<em class="glyphicon glyphicon-ban-circle"></em>
					Cancel
				</button>
				<button class="btn btn-success" type="button">
					<em class="glyphicon glyphicon-ok-sign"></em>
					Save
				</button>
			</div>
		</div>
	</div>
</div>