<fieldset ng-repeat="fieldset in form | filter:{type:'fieldset'}">
	<formly-form model="model" 
							 fields="fieldset.fields"
							 heading="{{fieldset.title}}"
							 active="fieldset.active"
							 disable="fieldset.disabled">
	</formly-form>
</fieldset>

<tabset ng-repeat="tabpanel in form | filter:{type:'tabpanel'}">
	<tab ng-repeat="tab in tabpanel.tabs | filter:{type:'tab'}" 
			 heading="{{tab.title}}"
			 active="tab.active"
			 disable="tab.disabled">

		  <formly-form model="model" fields="tab.fields">
		  </formly-form>

	</tab>
</tabset>