<form name="pxForm"
	sf-schema="schema" sf-form="form" sf-model="model"
	ng-submit="onSubmit(pxForm)">

		<!-- <div class="pull-right">
			<div class="btn-group btn-group-md">
				<button class="btn btn-default" type="button" ng-click="onCancel()">
					<em class="glyphicon glyphicon-ban-circle"></em>
					Cancel
				</button>
				<button class="btn btn-info" type="button" ng-click="onReset(pxForm)">
					<em class="glyphicon glyphicon-retweet"></em>
					Reset
				</button>
				<button class="btn btn-primary" type="submit">
					<em class="glyphicon glyphicon-ok-sign"></em>
					Save
				</button>
			</div>
		</div> -->

</form>