

<div class="text-center ">

	<div class="pull-left">
	  <select 
	  	ng-model="gridApi.grid.options.paginationPageSize" 
	  	ng-options="o as o for o in gridApi.grid.options.paginationPageSizes">
	  </select>
	  records per page
	</div>

	<!-- <div class="btn-group btn-group-md pagination"> -->
	<div class="btn-group btn-group-md">
		<button class="btn btn-default" type="button"
			ng-click="gridApi.pagination.seek(1)">
			<em class="glyphicon glyphicon-step-backward"></em>
			First
		</button>
		<button class="btn btn-default" type="button"
			ng-click="gridApi.pagination.previousPage()">
			<em class="glyphicon glyphicon-triangle-left"></em>
			Prev
		</button>
		<button class="btn btn-default" type="button"
			ng-repeat="p in getPage(gridApi.pagination.getTotalPages()) track by $index"
			ng-click="gridApi.pagination.seek($index+1)"
			ng-class="{ active : gridApi.pagination.getPage() == $index+1 }">
			{{$index+1}}
		</button>
		<button class="btn btn-default" type="button"
			ng-click="gridApi.pagination.nextPage()">
			Next
			<em class="glyphicon glyphicon-triangle-right"></em>
		</button>
		<button class="btn btn-default" type="button"
			ng-click="gridApi.pagination.seek(gridApi.pagination.getTotalPages())">
			<em class="glyphicon glyphicon-step-forward"></em>
			Last
		</button>
	</div>

	<!-- ToDo: Create a directive -->
	<!-- <div class="pull-right">
	  {{ (gridApi.pagination.getPage() * gridApi.grid.options.paginationPageSize) - gridApi.grid.options.paginationPageSize + 1 }} 
	  - 
	  {{ gridApi.pagination.getPage() * gridApi.grid.options.paginationPageSize }}  
	  of {{ gridApi.grid.options.totalItems }} records
	</div> -->
	
</div>