<div class="panel panel-default">

	<div class="panel-heading clearfix">

        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="showMenu=false">
                    <em class="glyphicon glyphicon-chevron-left"></em>
                </button>
            </span>
                <input id="searchinput" type="text" class="form-control" placeholder="Search menu...">
                <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
            <!-- <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <em class="glyphicon glyphicon-search"></em>
                </button>
            </span> -->
        </div>
	</div>

    <abn-tree 
    	tree-data="navMenu.data" 
    	expand-level="4"
        on-select = "treeHandler(branch)"
    	initial-selection="Home">
    </abn-tree>
	
</div>
<!-- <abn-tree 
    tree-data         = "my_treedata"
    tree-control      = "my_tree"
    icon-leaf         = "icon-file"
    icon-expand       = "icon-plus-sign"
    icon-collapse     = "icon-minus-sign"
    on-select         = "my_tree_handler(branch)"
    expand-level      = "2"
    initial-selection = "Vegetable">      
></abn-tree> -->